<div class="container">
  <div class="logo">
    <img src="../../assets/img/twitter-logo.png">
  </div>
  <div class="options">
    <a href="/home">
      <div>
        <mat-icon>home_outlined</mat-icon>
        Home
      </div>
    </a>
    <a href="/explore">
      <div>
        <mat-icon>search</mat-icon>
        Explore
      </div>
    </a>
    <a href="/notifications">
      <div>
        <mat-icon>notifications_outlined</mat-icon>
        Notifications
      </div>
    </a>
    <a href="/messages">
      <div>
        <mat-icon>mail_outlined</mat-icon>
        Messages
      </div>
    </a>
    <a href="/user-name">
      <div>
        <mat-icon>person_outlined</mat-icon>
        Profile
      </div>
    </a>
    <a href="/settings">
      <div>
        <mat-icon>settings_outlined</mat-icon>
        Settings
      </div>
    </a>
  </div>
  <button class="tweet-button" mat-raised-button color="primary">Tweet</button>
  <div class="profile">
    <picture>
      <img src="../../assets/img/twitter-logo.png">
    </picture>
    <div>
      <p class="display-name">Display name</p>
      <p class="user-name">@username</p>
    </div>
    <mat-icon>logout</mat-icon>
  </div>
</div>
